@model RentACar.Controllers.PregledDostavaViewModel

@{
    ViewData["Title"] = "Pregled Dostava";
}

<h2>Pending deliveries</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adresa</th>
            <th>Datum Preuzimanja</th>
            <th>Datum Povratka</th>
            <th>Iznos</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dostava in Model.PendingDostave)
        {
            <tr>
                <td>@dostava.Id</td>
                <td>@dostava.Adresa</td>
                <td>@dostava.Narudzba?.DatumPreuzimanja.ToShortDateString()</td>
                <td>@dostava.Narudzba?.DatumPovratka.ToShortDateString()</td>
                <td>@dostava.Narudzba?.Iznos</td>
                <td>
                    <form asp-action="PrihvatiDostavu" method="post">
                        <input type="hidden" name="id" value="@dostava.Id" />
                        <button type="submit" class="btn btn-success">Prihvati</button>
                    </form>
                    </td>
                    <td>
                    <form asp-action="OdbijDostavu" method="post">
                        <input type="hidden" name="id" value="@dostava.Id" />
                        <button type="submit" class="btn btn-danger">Odbij</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Accepted deliveries</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adress</th>
            <th>Delievry date and time</th>
            <th>DReturn Date and Time</th>
            <th>Iznos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dostava in Model.AcceptedDostave)
        {
            <tr>
                <td>@dostava.Id</td>
                <td>@dostava.Adresa</td>
                <td>@dostava.Narudzba?.DatumPreuzimanja.ToShortDateString()</td>
                <td>@dostava.Narudzba?.DatumPovratka.ToShortDateString()</td>
                <td>@dostava.Narudzba?.Iznos</td>
            </tr>
        }
    </tbody>
</table>
