@model List<RentACar.Models.Dostava>

@{
    ViewData["Title"] = "Pregled Dostava";
}

<h1>Pregled Dostava</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Narudžba Id</th>
            <th>Dostavljač</th>
            <th>Adresa</th>
            <th>Prihvaćena</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dostava in Model)
        {
            <tr>
                <td>@dostava.Id</td>
               <td>@dostava.Narudzba</td>

                <td>@(dostava.Dostavljac != null ? dostava.Dostavljac.Ime + " " + dostava.Dostavljac.Prezime : "-")</td>
                <td>@dostava.Adresa</td>
                <td>@(dostava.Prihvacena ? "Da" : "Ne")</td>
                <td>
                    @if (!dostava.Prihvacena)
                    {
                        <form asp-action="PrihvatiDostavu" asp-route-id="@dostava.Id" method="post">
                            <button type="submit" class="btn btn-primary">Prihvati</button>
                        </form>
                    }
                </td>
                <td>
                    <form asp-action="OdbijDostavu" asp-route-id="@dostava.Id" method="post">
                        <button type="submit" class="btn btn-danger">Odbij</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
